extends layout

block content
  form(method="POST", action="") 
    |
    h1= title
    p Required fields are marked with *
    |
    .input_wrapper
      label.form-label(for="name") Name*:
      input#name.form-control(
        type="text",
        name="name",
        minlength="3",
        maxlength="25",
        value=category === undefined ? "" : category.name,
        placeholder="Category name",
        required
      )
    .input_wrapper
      label.form-label(for="descripton") Description*:
      textarea#description.form-control(
        type="text",
        name="description",
        minlength="3",
        maxlength="100",
        placeholder="Category description",
        required
      )= category === undefined ? "" : category.description
    .input_wrapper 
      label.form-label(for="password") Admin password*: 
      input#password.form-control(
        type="password"
        name="password"
        required
      )
    button(type="submit")= title

  if errors
    ul
      each error in errors
        li!= error.msg
