extends layout

block content
  h1= title
  main
    .instrument
      h1= `${instrument.name} - ${instrument.brand}`
      h2= instrument.model
      if instrument.tuning !== undefined
        p.tuning= `Tuning: ${instrument.tuning}`
      p= instrument.description
      dl
        dt Categories:
          each category in instrument.categories
            dd= category.name
      p= `$${instrument.price}`
      p= `In stock: ${instrument.stock}`
  a(href=`/catalog/instruments/${instrument._id}/delete`) 
    |
    button(type="button") Delete
  a(href=`/catalog/instruments/${instrument._id}/update`) 
    |
    button(type="button") Update
