extends layout

block content
  h1= title
  main
    a(href="/catalog/instruments/create") 
      button Add new Instrument
    each instrument in instruments
      a(href=`/catalog/instruments/${instrument._id}`) 
        |
        .item_small
          h1= `${instrument.name} - ${instrument.brand}`
          h2= instrument.model
          if instrument.tuning !== undefined
            p.tuning= `Tuning: ${instrument.tuning}`
          if instrument.imgUrl !== ''
            img(src=instrument.imgUrl, alt=instrument.name)
          dl
            dt Categories:
              each category in instrument.categories
                dd= category.name
          p= `$${instrument.price}`
